In [1]:
import pandas as pd
from setuptools.command.install import install

df = pd.read_csv("CADS_INCODE.csv")
# df[~(df == 9).any(axis=1)].count() 
# df = df[~(df == 9).any(axis=1)]
# dropped 4209 entries that are not stated or skipped

# df[~(df == 99).any(axis=1)].count() 
# df = df[~(df == 99).any(axis=1)]
# dropped 7850 entries that are not stated or skipped
df = df.drop('VERDATE', axis = 1)
df

,PUMFID,REFYEAR,REFMONTH,PROV,DVURBAN,MHHTYPEB,SEX,DV_AGEP,HHI_01,HDSIZE,...,ANY14DLF,ANY15DLF,IL6DL,IL5DL,DHAR12,ASSISTOD,DVSST1,DVSS1,CIG30,WEIGHTP
0,1000,2019,12,46,2,3,1,8,1,2,...,2,2,2,2,2,6,2,2,2,1256.4374
1,1001,2019,9,46,2,6,1,5,1,4,...,2,2,2,2,2,6,3,3,2,1576.0206
2,1002,2019,6,35,1,3,2,8,1,2,...,2,2,2,2,2,6,3,3,2,3880.9735
3,1003,2019,8,11,1,3,1,8,1,3,...,2,1,1,2,2,6,1,1,1,212.8512
4,1004,2019,6,12,1,3,1,9,1,3,...,1,1,1,1,6,6,2,2,2,1078.1501
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10288,11288,2019,7,35,1,6,1,6,1,3,...,2,1,1,2,2,3,2,2,2,4495.1767
10289,11289,2019,7,10,1,3,2,8,1,2,...,2,1,1,2,6,6,1,1,1,492.8180
10290,11290,2019,10,48,2,3,1,5,1,2,...,1,1,1,1,1,6,3,3,2,5034.4858
10291,11291,2019,7,13,2,3,2,9,1,1,...,2,2,2,2,2,6,2,2,2,246.9564
10292,11292,2019,7,47,2,3,2,8,1,2,...,2,2,2,2,2,6,3,3,2,748.9170

In [2]:
df.corr()

,PUMFID,REFYEAR,REFMONTH,PROV,DVURBAN,MHHTYPEB,SEX,DV_AGEP,HHI_01,HDSIZE,...,ANY14DLF,ANY15DLF,IL6DL,IL5DL,DHAR12,ASSISTOD,DVSST1,DVSS1,CIG30,WEIGHTP
PUMFID,1.000000,NaN,0.002612,-0.003428,0.013593,0.008693,0.001974,-0.021154,-0.001019,0.012222,...,-0.009096,-0.013784,-0.006361,-0.007894,-0.002973,-0.014630,0.011237,0.013374,0.008228,0.002071
REFYEAR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
REFMONTH,0.002612,NaN,1.000000,-0.025558,0.025700,0.017213,-0.009575,-0.045588,-0.000041,0.025134,...,0.004933,-0.014391,-0.025699,-0.010629,0.012695,0.006412,-0.001561,-0.001052,0.007593,0.004047
PROV,-0.003428,NaN,-0.025558,1.000000,-0.025749,0.030457,-0.029410,-0.063069,0.017487,0.059298,...,-0.030202,-0.001562,0.000315,-0.050721,-0.006731,0.007318,0.046704,0.047664,0.032368,0.229290
DVURBAN,0.013593,NaN,0.025700,-0.025749,1.000000,0.927107,0.001193,-0.587667,-0.013318,0.757608,...,-0.013156,-0.021440,-0.013790,0.007763,-0.081999,-0.032611,0.830979,0.822018,0.894734,0.244972
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ASSISTOD,-0.014630,NaN,0.006412,0.007318,-0.032611,-0.032442,-0.001720,0.042919,0.001927,-0.022570,...,0.173974,0.164858,0.111132,0.155045,0.027749,1.000000,-0.006896,-0.006238,-0.025127,-0.015348
DVSST1,0.011237,NaN,-0.001561,0.046704,0.830979,0.896809,0.021393,-0.599147,-0.013186,0.745876,...,0.038314,0.068446,0.092932,0.080637,-0.142392,-0.006896,1.000000,0.988303,0.936622,0.272726
DVSS1,0.013374,NaN,-0.001052,0.047664,0.822018,0.887998,0.018625,-0.593971,-0.013233,0.740298,...,0.037424,0.069102,0.093092,0.080313,-0.139878,-0.006238,0.988303,1.000000,0.949632,0.270368
CIG30,0.008228,NaN,0.007593,0.032368,0.894734,0.960197,-0.000701,-0.607055,-0.009966,0.782311,...,0.002884,0.011694,0.022910,0.028027,-0.103338,-0.025127,0.936622,0.949632,1.000000,0.274950
WEIGHTP,0.002071,NaN,0.004047,0.229290,0.244972,0.298997,-0.062833,-0.323142,-0.010711,0.405400,...,-0.024888,0.006549,0.012722,-0.025463,-0.047102,-0.015348,0.272726,0.270368,0.274950,1.000000

In [3]:
df = df.drop('REFYEAR', axis = 1)

In [4]:
ratio = 0.75
 
total_rows = df.shape[0]
train_size = int(total_rows*ratio)
 
# Split data into test and train
train = df[0:train_size]
test = df[train_size:]

In [5]:
Xtrain = train.drop('ALC_125A', axis = 1)
Xtrain

,PUMFID,REFMONTH,PROV,DVURBAN,MHHTYPEB,SEX,DV_AGEP,HHI_01,HDSIZE,HWB_05,...,ANY14DLF,ANY15DLF,IL6DL,IL5DL,DHAR12,ASSISTOD,DVSST1,DVSS1,CIG30,WEIGHTP
0,1000,12,46,2,3,1,8,1,2,2,...,2,2,2,2,2,6,2,2,2,1256.4374
1,1001,9,46,2,6,1,5,1,4,1,...,2,2,2,2,2,6,3,3,2,1576.0206
2,1002,6,35,1,3,2,8,1,2,3,...,2,2,2,2,2,6,3,3,2,3880.9735
3,1003,8,11,1,3,1,8,1,3,2,...,2,1,1,2,2,6,1,1,1,212.8512
4,1004,6,12,1,3,1,9,1,3,2,...,1,1,1,1,6,6,2,2,2,1078.1501
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7714,8714,11,10,1,3,2,9,1,2,3,...,2,2,2,2,2,6,2,2,2,670.4217
7715,8715,9,12,1,3,2,8,1,1,1,...,2,1,1,2,2,6,2,2,2,418.4374
7716,8716,8,35,9,99,1,4,1,9,2,...,1,1,1,1,1,6,9,9,9,10402.7382
7717,8717,8,11,2,3,2,9,1,1,4,...,2,2,2,2,2,6,2,2,2,53.2743
7718,8718,7,12,2,3,2,8,1,3,2,...,2,2,2,2,2,6,3,3,2,1560.9000

In [6]:
Ytrain = train['ALC_125A']
Ytrain

0       2
1       2
2       2
3       2
4       1
       ..
7714    6
7715    6
7716    2
7717    6
7718    2
Name: ALC_125A, Length: 7719, dtype: int64

In [7]:
Xtest = test.drop('ALC_125A', axis = 1)
Xtest

,PUMFID,REFMONTH,PROV,DVURBAN,MHHTYPEB,SEX,DV_AGEP,HHI_01,HDSIZE,HWB_05,...,ANY14DLF,ANY15DLF,IL6DL,IL5DL,DHAR12,ASSISTOD,DVSST1,DVSS1,CIG30,WEIGHTP
7719,8719,7,11,1,3,1,8,1,2,3,...,2,1,1,2,6,6,1,1,1,107.6262
7720,8720,8,24,2,3,2,9,1,3,3,...,2,2,2,2,2,6,2,2,2,6133.3749
7721,8721,10,24,1,6,2,6,1,5,3,...,2,1,1,2,6,6,3,3,2,6261.1231
7722,8722,11,24,2,5,1,7,1,4,1,...,2,1,1,2,6,6,1,1,1,7266.2362
7723,8723,8,10,1,3,2,9,1,1,2,...,2,2,2,2,2,6,3,3,2,244.6544
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10288,11288,7,35,1,6,1,6,1,3,2,...,2,1,1,2,2,3,2,2,2,4495.1767
10289,11289,7,10,1,3,2,8,1,2,2,...,2,1,1,2,6,6,1,1,1,492.8180
10290,11290,10,48,2,3,1,5,1,2,4,...,1,1,1,1,1,6,3,3,2,5034.4858
10291,11291,7,13,2,3,2,9,1,1,4,...,2,2,2,2,2,6,2,2,2,246.9564
10292,11292,7,47,2,3,2,8,1,2,3,...,2,2,2,2,2,6,3,3,2,748.9170

In [8]:
Ytest = test['ALC_125A']
Ytest

7719     2
7720     6
7721     2
7722     2
7723     2
        ..
10288    2
10289    2
10290    2
10291    2
10292    2
Name: ALC_125A, Length: 2574, dtype: int64

In [10]:
from sklearn import tree
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LinearRegression 
import matplotlib.pyplot as plt

In [12]:
dtree = LinearRegression()
# dtree = DecisionTreeClassifier()
dtree = dtree.fit(Xtrain, Ytrain)
# tree.plot_tree(dtree)

In [21]:
pred = dtree.predict(Xtest)

In [22]:
from sklearn.metrics import mean_squared_error
model_mse = mean_squared_error(pred,Ytest)
model_mse * 100

0.18577814421998937